/*============================================================================================*/
/* 1.  SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/

/*-------- Allert for old browsers IE8 and below --------*/
.chromeframe{background:#ddd;color:#000;padding: 0.2em;position: fixed; top: 0; left: 0; text-align: center; z-index:9999; width: 100%;}
.chromeframe a{color:#331C88;}

/*-------- 1.1 Typography --------*/
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-size: 16px;
  line-height: 1.4;
  color: #363A45;
  background-color: #F7F9FB;
  font-family: "Sanomat Grab Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
	font-weight: 500;
}
h1, h2, h3, h4, h5, h6, label {color:#333;}


/*General links color*/
a {color:#363A45;text-decoration: none;-webkit-transition: all 0.2s ease;transition: all 0.2s ease; outline:none;}
a:hover,a:focus {color: #00B23E;text-decoration: none; outline:none;}

hr.styled {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

/*-------- 1.2 Buttons --------*/
.btn_full{
	border: none;
  color: #FFFFFF;
  width: 100%;
  background: #00B140;
  cursor: pointer;
  padding: 15px 20px;
  outline: none;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  /*font-weight: bold;*/
  display: block;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

button[disabled] {
	background-color: #ccd6dd;
}

/*-------- 1.3 Structure --------*/

/* Header */
header{
	width: 100%;
	position: initial;
	padding: 15px 0;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: #00B140;
}

/* Footer Button */
.next_button {
	position:absolute;;
	bottom:0;
}

/*============================================================================================*/
/* 2.  CONTENT  */

.col--md-12, .col-sm-12, .col-xs-12 {
	padding: 15px 10px 5px;
}

#step_1, #step_2, #step_3 {
	padding: 0;
	position: relative;
	min-height: 480px;
}

#step_2, #step_3 {
	display:none;
}

#step_1 p, #step_2 p, #step_3 p {
	padding: 0 10px;
	margin: 0;
}

p span, p span, p span {
	display:block;
	font-size: 14px;
	color: #565D6B;
}

.error_message {
	color:#D64425;
	font-size: 13px;
}


.photo_placeholder {
	border: 1px solid #CCD6DD;
	width: 100%;
	height: 150px;
	background-color: #eaeff2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#add_photo {
	font-size: 14px;
	color: #00B140;
	text-align: center;
}

#add_photo span{
	display: block;
  font-size: 32px;
	line-height: 1.1;
}

#complete_message{
	font-size: 20px;
	text-align: center;
}

/*============================================================================================*/
/* 3.  COMMON  */
/*============================================================================================*/

/* 3.1 Position  breadcrumbs */
#position {
	background-color: #fff;
	padding: 11px 0;
	font-size: 14px;
	text-align: center;
}
#position ul li:first-child:before{
	font-style: normal;
	/*font-weight: normal;*/
	position:absolute;
	left:0;
	top:1px;
	color:#999;
}
#position ul{
	margin:0;
	padding:0;
	color:#9B9B9B;
}
.active{
	color:#363A45;
}
.completed{
	color:#00B23E;
}
#position ul li{
	display:inline-block;
	width:30%;
	position:relative;
}
#position ul li:after{
	content:"\e046";
	font-style: normal;
	/*font-weight: normal;*/
	font-family: 'ElegantIcons';
	position:absolute;
	right:0;
	top:2px;
	color:#CCD6DD;
}
#position ul li:last-child:after{
	content:'';
}

/* 3.2 Input form style */
.loader { margin-left:5px; position:absolute;}

.form-control {
	color: #333;
  border-radius: 1px;
  height: 0;
  box-shadow: none;
  border: 1px solid #CCD6DD;
  background: #eaeff2;
  margin-top: 7px;
  font-size: 16px;
  padding: 14px 6px 26px 10px;
}


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
	margin-top:5px
}

fieldset:first-child {
	margin-top: 0;
}

textarea {
	color: #333;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #CCD6DD;
  background: #eaeff2;
  font-size: 16px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  padding: 5px 6px 10px 10px;
}

textarea:valid, textarea:focus {
	padding: 15px 10px 10px 10px;
	line-height: 1.3;
}

textarea:focus {
	outline: 0;
}

textarea:valid + label, textarea:focus + label {
	color: #565D6B;
	font-size: 12px;
	transform: translate3d(0, -5px, 0);
}


input {
	color: #333;
  border-radius: 2px;
  height: 0;
  box-shadow: none;
  border: 1px solid #CCD6DD;
  background: #eaeff2;
  font-size: 16px;
  padding: 35px 10px 5px 10px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

fieldset {
  position: relative;
}

fieldset label {
	position: absolute;
  top: 5px;
  left: 10px;
  color: #A3A9B2;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
  font-weight: inherit;
}

input:valid, input:focus {
	padding: 22px 10px 18px 10px;
}

input:focus {
	outline: 0;
}

input:valid + label, input:focus + label {
	color: #565D6B;
	font-size: 12px;
	transform: translate3d(0, -5px, 0);
}
